a {
    padding-left: 20px;
    background-image: url('https://cdn.icon-icons.com/icons2/621/PNG/512/link-symbol-of-two-chains-links-linked_icon-icons.com_56928.png');
    background-position: left center;
}