.grid{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: 1fr 1fr 4fr 1fr 1fr;
}

.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}

.gridHeader {
    background-color: #dcd6fe;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
}

.gridNav {
    background-color: #c6c0ff;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 20px;
}

.gridMain {
    background-color: #f9f6d2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 20px;
}

.gridAside {
    background-color: #d4ffd1;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 20px;
}

.gridFooter {
    background-color: #ffd1d1;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 20px;
}
@media screen and (min-width: 786px){
    .grid{
        grid-template-columns: 1fr 2fr 14fr 2fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;
    }
    .gridHeader{
        grid-column-start: 1;
        grid-column-end: 6;
    }
    .gridFooter{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .gridNav {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .gridMain{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .gridAside {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 5;
    }
}